@import "../libs/variable.less";
/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 0px solid @color01;
  background: @color01;
  position: relative;
  border-radius: 0px;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 40px 0 6px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 35px;
  color: #222222;
  height: 35px;
}

.selectric .button {
  background: transparent;
  border-radius: 0px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  color: #222222;
  text-align: center;
  font: 0/0 a;
  *font: 12px/12px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #222222;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #AAA;
}

.selectric-hover .selectric {
  border-color: #e6e6e6;
}

// .selectric-hover .selectric .button {
//   color: #e6e6e6;
// }

// .selectric-hover .selectric .button:after {
//   border-top-color: #e6e6e6;
// }

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: ~"calc(100% + 1px)";
  left: 0;
  background: @color15;
  .box-shadow(1px 1px 3px #d5d5d5);
  z-index: -1;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul {
  padding: 0 !important;
}
.selectric-items ul, .selectric-items li {
  list-style: none;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  text-transform: uppercase;
}

.selectric-items li {
  display: block;
  padding: 5px 15px;
  cursor: pointer;
  &:before {
    content: none !important;
  }
}

.selectric-items li.selected {
  // background: #032E5E;
  // color: @color01;
}

.selectric-items li.highlighted {
  font-weight: 700;
  color: @color11;
}

.selectric-items li:hover {
  background: @color13;
  color: @color01;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
