/* Slider */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  .load {
    .position();
    background: url("../images/loading.svg") center center / 50px no-repeat;
  }
  .item {
    float: left;
    height: 100%;
    min-height: 1px;
    width: 200px;
    text-align: center;
    .transition(opacity .25s ease);
    .vertical-slider& {
      width: auto;
      display: block;
      height: auto;
      border: 1px solid transparent;
    }
    .img-view {
      display: block;
      margin: 0 auto;
    }
    [data-youtube], [data-video] {
      padding: 0 4px;
      .iframeYoutube, video {
        display: none;
      }
    }
    [data-youtube], [data-video] {
      &.playing {
        .iframeYoutube, video {
          display: block;
        }
      }
    }
    [dir="rtl"] & {
      float: right;
    }
    img {
      display: block;
    }
    .draggable & {
      img {
        pointer-events: none;
      }
    }
    &.slick-loading img {
      display: none;
    }
    .slick-loading & {
      visibility: hidden;
    }
  }
}
.slick {
  position: relative;
  display: block;
  width: 2000%;
  height: 500px;
  .vertical-slider & {
    width: 100%;
    overflow: hidden;
  }
  &.slick-initialized, &.no-slide {
    height: auto;
    width: auto;
    + .load {
      display: none;
    }
  }
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 0;
  &.draggable {
    cursor: pointer;
  }
  .centermode-slider & {
    width: 80%;
    overflow: visible;
    /* &:before, &:after {
      content: "";
      .position(0 null 0);
      width: 500px;
      background-color: @color01;
      opacity: 0.5;
      z-index: 1;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    } */
  }
}
.slick-track,
.slick-list {
  .translate3d(0, 0, 0);
}
.no-slide {
  .slick-track {
    width: 100% !important;
    text-align: center;
    transform: inherit !important;
  }
  .item {
    /*float: none;*/
    /*display: inline-block;*/
  }
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  padding-bottom: 5px;
  .clearfix();
  /* overflow: hidden; */
  .slick-loading & {
    visibility: hidden;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  text-align: center;
  li {
    display: inline-block;
    button {
      .size(10px);
      margin: 0 5px;
      font-size: 0;
      background-color: grey;
      .border-radius(50%);
      border: none;
    }
  }
  .slick-active {
    button {
      background-color: black;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 6;
  margin-top: -20px;
  .text-hide();
  .size(40px);
  background-color: @color02;
  border: 1px solid @color08;
  .transition(transform .25s ease);
  .no-touch & {
    .scale(0);
  }
  .no-touch .slick:hover & {
    .scale(1);
  }
  &:before {
    .fonticon();
    .font-size(16px);
    color: @color11;
  }
  .vertical-slider & {
    left: 50%;
    .translateX(-50%);
  }
  .centermode-slider & {
    top: 0;
    .translateY(0);
    height: 100%;
    width: 10%;
    background-color: rgba(255,255,255,.7);
  }
}
.slick-prev {
  left: 5px;
  .vertical-slider & {
    top: 0 !important;
  }
  .centermode-slider & {
    left: 0;
  }
}
.slick-next {
  right: 5px;
  .vertical-slider & {
    top: auto !important;
    right: auto;
    bottom: 0;
    .translateX(-50%);
  }
  .centermode-slider & {
    right: 0;
  }
}
.slick-disabled {
  opacity: 0.2;
}
