// Global
.widget {
  li {
    background-color: @color01;
    .transition(background-color .25s ease);
    &:hover {
      background-color: @color13;
      a {
        color: @color01;
      }
    }
    & + li {
      border-top: 1px solid @color03;
    }
  }
  a {
    display: block;
    padding: 10px;
    color: @color11;
  }
}
.main-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 2px solid @color13;
  margin-top: -5px;
  padding-top: 5px;
  position: relative;
  .font-size(22px);
  > span, > a {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    color: @color01;
    background-color: @color13;
    &:before {
      content: "";
      border-right: 25px solid transparent;
      border-bottom: 34px solid @color13;
      position: absolute;
      right: -25px;
      top: 0;
      .size(0);
    }
    &:hover {
      color: @color01;
    }
  }
  a {
    &:hover {
      color: @color11;
    }
  }
  > small {
    float: right;
    .font-size(14px);
    position: relative;
    top: 10px;
    a {
      color: @color13;
      &:hover {
        color: @color11;
      }
    }
  }
}
// Use in news detail,
.entry-header {
  .entry-title {
    padding-bottom: 10px;
    text-transform: uppercase;
    .font-size(20px);
  }
  .entry-meta {
    padding-bottom: 10px;
    .font-size(12px);
  }
}
.entry-footer {
  padding-top: 10px;
  .font-size(12px);
  span {
    display: inline-block;
    padding-right: 10px;
  }
}
.accordion {
  .acor-title {
    text-transform: uppercase;
    .font-size(16px);
    cursor: pointer;
    border-bottom: 1px solid @color03;
    padding-bottom: 10px;
    & ~ .acor-title {
      margin-top: 20px;
    }
  }
  .acor-content {
    padding-top: 10px;
  }
  @media (min-width: @md-min) {
    .acor-title {
      .font-size(18px);
    }
  }
}
.comments-area {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid @color03;
}
.comments-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid @color03;
  &:before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: @color13;
    .position(null null 0 0);
  }
}
.comment-list {
  padding-bottom: 20px;
  border-bottom: 1px solid @color03;
  margin-bottom: 20px;
  .comment {
    & + .comment {
      border-top: 1px dashed @color03;
      padding-top: 20px;
      margin-top: 20px;
    }
  }
  .comment-author {
    padding-bottom: 5px;
  }
  .comment-metadata {
    .font-size(12px);
  }
  .comment-content {
    padding: 10px 0;
  }
  .comment-awaiting-moderation {
    .font-size(12px);
  }
}
.comment-respond {
  .comment-reply-title {
    padding-bottom: 3px;
  }
  small {
    color: @color13;
    text-transform: uppercase;
    .font-size(13px);
  }
}
.comment-form {
  .comment-notes {
    .font-size(12px);
  }
  textarea {
    height: 100px;
  }
  label {
    padding-bottom: 3px;
  }
  .form-submit {
    .submit {
      padding: 10px;
      background-color: @color13;
      color: @color01;
      .font-size(13px);
      text-transform: uppercase;
    }
  }
}
// Mini Cart
.mini-cart-content {
  .cart_list {
    li {
      position: relative;
      padding-bottom: 20px;
    }
    a {
      display: inline-block;
      vertical-align: top;
    }
    img {
      .size(70px);
      vertical-align: top;
      margin-right: 5px;
    }
    .remove {}
    .quantity {}
  }
  .woocommerce-mini-cart__total {
    margin-bottom: 0;
  }
  .woocommerce-mini-cart__buttons {}
}
.woocommerce-message {
  background-color: @color13;
  color: @color01;
  margin-bottom: 30px;
  a {
    color: inherit;
  }
}

// Product Landing Page
.product-landing-page {
}
// Product Listing
.products-wrap {
  margin: 15px -5px 0;
  clear: both;
}
.products {
  .display(flex);
  .flex-wrap(wrap);
  li {
    width: ~"calc(100% / 4)";
    .related.products & {
      width: ~"calc(100% / 4)";
    }
    padding: 5px;
    text-align: left;
  }
  .woocommerce-loop-product__link {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: @color11;
  }
  .woocommerce-loop-product__title {
    padding: 10px 0 5px;
    .font-size(13px);
  }
  img {
    .size(100%, auto);
  }
  @media (min-width: @md-min) {
    li {
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: "";
        height: 1px;
        .position(100% 50% null 50%);
        background-color: @color13;
        .transition(all .25s ease);
        .box-shadow(0 1px 3px @color13);
      }
      &:hover {
        &:after {
          left: 0;
          right: 0;
        }
      }
    }
    .woocommerce-loop-product__title {
      .font-size(14px);
    }
  }
}
// Related product
.related {
  display: block;
  > h2 {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    &:after {
      content: "";
      .size(50px, 2px);
      background-color: @color13;
      .position(null null 0 50%);
      margin-left: -25px;
    }
  }
}
.product-wrap {
  .slick {
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-landing-page & {
    padding-bottom: 50px;
  }
}
.product-item {
  text-align: left;
  padding: 5px;
  .thumb {
    display: block;
  }
  .product-title {
    padding: 10px 0 5px;
    .font-size(13px);
    text-transform: uppercase;
    color: @color11;
  }
  img {
    .size(100%, auto);
  }
  @media (min-width: @md-min) {
    position: relative;
    .background-clip(content-box);
    .transition(all .25s ease);
    &:after {
      content: "";
      height: 1px;
      .position(100% 50% null 50%);
      background-color: @color13;
      .transition(all .25s ease);
      .box-shadow(0 1px 3px @color13);
    }
    &:hover {
      &:after {
        left: 0;
        right: 0;
      }
    }
    .product-title {
      .font-size(14px);
    }
  }
}

// Blog Landing
.blog-landing {
  .post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
  }
}
.post-navigation {
  padding-top: 20px;
  .screen-reader-text {
    .font-size(13px);
    font-weight: bold;
    padding-bottom: 10px;
  }
}
.nav-links {
  @media (min-width: @sm-min) {
    .display(flex);
    .flex-wrap(wrap);
    > div {
      width: 50%;
    }
  }
}

// Product Page
.product-page {
  .page-title {
    .font-size(24px);
    text-transform: uppercase;
  }
  .woocommerce-result-count {
    float: left;
    text-align: center;
    padding-top: 5px;
  }
  .woocommerce-ordering {
    .select-wrap {
      float: right;
      min-width: 175px;
    }
    .orderby {
      height: 30px;
    }
    .selectric .label {
      padding: 0 15px 0 5px;
      margin: 0;
      .font-size(11px);
      height: 26px;
      line-height: 26px;
      border: 1px solid @color03;
    }
    .selectric-items {
      .selectric-scroll {
        border-top: none;
      }
      li {
        padding: 3px 5px;
        .font-size(11px);
      }
    }
  }
  .entry-summary {
    float: right;
    width: 50%;
    padding-left: 30px;
    .product_title {
      text-transform: uppercase;
    }
    form {}
  }
}
.button {
  &.product_type_simple {
    padding: 5px 0 0;
    display: none;
  }
}
ul.product-categories {
  li {
    & + li {
      border-top: 1px solid @color03;
    }
    &:hover {
      background-color: @color13;
      a, span {
        color: @color01;
      }
    }
  }
  a {
    display: block;
    padding: 10px;
    color: @text-color;
  }
}

// Product Detail
.product-type-simple {
  position: relative;
  img {
    .size(100%, auto);
  }
}
.search-page article {
  border-bottom: 1px solid @color03;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.onsale {
  .position(0 null null 0);
  background-color: @color12;
  color: @color01;
  padding: 5px;
}
.woocommerce-product-gallery {
  float: left;
  width: 50%;
}
// Tab content
.woocommerce-tabs {
  clear: both;
  padding-top: 30px;
  .tabs {
    .display(flex);
    .flex-wrap(wrap);
    li {
      padding: 0 10px;
    }
  }
  .woocommerce-Tabs-panel {
    padding: 10px;
  }
}

.product_list_widget {
  li {
    background-color: @color01;
    &:hover {
      a {
        color: @color13;
      }
    }
  }
}
.side-product {
  display: block;
  padding: 10px;
  background-color: @color01;
  &:hover {
    .price {
      del, ins, > .woocommerce-Price-amount {
        color: @color13;
      }
    }
  }
  .clearfix();
  .thumb {
    padding: 0;
    float: left;
    width: 30%;
    img {
      display: block;
      .size(100%, auto);
    }
  }
  .content {
    overflow: hidden;
    padding-left: 10px;
  }
  .product-title {
    .font-size(12px);
    padding-bottom: 2px;
    line-height: 1.1;
  }
  .price {
    del, ins, > .woocommerce-Price-amount {
      .font-size(11px);
      display: block;
      padding: 3px 0 0;
    }
  }
  @media (min-width: @md-min) {
    .product-title {
      .font-size(14px);
    }
  }
}

.widget_price_filter form {
  margin: 0
}

.widget_price_filter .price_slider {
  margin-bottom: 1em;
  background: @color02;
}

.widget_price_filter .price_label {
  padding-top: 6px
}

.widget_price_filter span {
  font-weight: bold
}

.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 1;
  font-size: .8751em
}

.widget_price_filter .price_slider_amount .button {
  border-radius: 99px;
  background-color: @color13;
  color: @color01;
  float: left;
  .font-size(11px);
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
  top: -5px;
  border-radius: 999px;
  background-color: @color09;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -10px
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  opacity: .5;
  border-radius: 99px;
  z-index: 1;
  font-size: 10px;
  display: block;
  border: 0;
  background-color: @color09;
}

.widget_price_filter .ui-slider-horizontal {
  height: 5px;
  border-radius: 99px
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px
}

// Cart
.cart {}

// Checkout
.checkout {}

// My Account
.my-account {}

#secondary {
  section {
    margin-top: 4px;
    margin-bottom: 30px;
    border: 1px solid @color04;
  }
  .title {
    position: relative;
    border-bottom: 2px solid @color13;
    margin-top: -5px;
    color: @color01;
    .font-size(16px);
    font-weight: bold;
    text-transform: uppercase;
    span {
      position: relative;
      display: inline-block;
      padding: 7px 10px;
      background-color: @color13;
      &:before {
        border-right: 20px solid transparent;
        border-bottom: 32px solid @color13;
        content: "";
        height: 0;
        position: absolute;
        right: -20px;
        top: 0;
        width: 0;
      }
    }
  }
}

.edit-post {
  padding-top: 20px;
  text-align: right;
}

.page-header {
  .page-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:before {
      content: "";
      height: 2px;
      background-color: @color13;
      width: 50px;
      .position(null null 0 0);
    }
  }
}

// Archive Page
.archive-page {
  .post {
    & + .post {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid @color03;
    }
  }
}
