// Text Editor
.term-description,
.page-description,
.editor {
	line-height: @line-height-tag-p;
	h1 {
		padding-bottom: 15px;
	}
	h2 {
		padding-bottom: 10px;
	}
	h3 {
		padding-bottom: 10px;
	}
	h4 {
		padding-bottom: 10px;
	}
	h5 {
		padding-bottom: 5px;
	}
	h6 {
		padding-bottom: 5px;
	}
	ul, ol {
		padding-bottom: 5px;
	}
	li {
		padding-bottom: 5px;
	}
	p, a {
		font-size: inherit;
		line-height: inherit;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}

	/* min-width: 768px */
	@media (min-width: @md-min) {}

	/* min-width: 992px */
	@media (min-width: @lg-min) {
	}
}
