// Mini Cart
// ----------------------------------------------------------------------------------------
.mini-cart {
  a {
    position: relative;
    display: inline-block;
  }
  .cart-count {
    .position(-4px -14px);
    .size(20px);
    padding-top: 5px;
    .border-radius(50%);
    .font-size(12px);
    text-align: center;
    background-color: @color03;
  }
}
// Side Mini Cart
.mini-cart-wrap {
  .position(fixed, 0 -310px 0 auto);
  width: 300px;
  z-index: 11;
  background-color: @color01;
  .transition(right .25s ease);
  .box-shadow(-2px 0 5px @color06);
  .open-mini-cart & {
    right: 0;
    .ion-ios-close-circle-outline {
      display: block;
    }
  }
  .ion-ios-close-circle-outline {
    display: none;
    .position(10px null null -40px);
    .size(30px);
    background-color: @color13;
    color: @color01;
    .border-radius(50%);
    text-align: center;
    cursor: pointer;
    &:before {
      font-size: 30px;
    }
  }
  > .inner {
    .position();
    overflow-y: auto;
  }
}
.mini-cart-content {
}
