.main-navigation {
  position: relative;
  border-top: 1px solid @color13;
  border-bottom: 1px solid @color13;
  .main-nav {
  }
  .navigation {
    .display(flex);
    .flex-wrap(wrap);
    & > li {
      a {
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        .font-size(15px);
      }
    }
  }
  @media (max-width: @md-max) {
    .navigation {
      & > li {
        .flex(1,0,100%);
      }
      .sub-menu {
        a {
          padding-left: 40px;
        }
      }
    }
  }
  @media (min-width: @lg-min) {
    display: block !important;
    background-color: @color13;
    .main-nav {
      max-width: @grid-xl;
      margin-left: auto;
      margin-right: auto;
    }
    .navigation {
      .justify-content(center);
      > li {
        position: relative;
        min-width: 150px;
        text-align: center;
        .skew(-20deg);
        > a {
          .skew(20deg);
        }
        &:hover {
          background-color: @color01;
          > a {
            color: @color13;
          }
          .sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      a {
        color: @color01;
        // &:hover {
        //   background-color: @color01;
        //   color: @color13;
        // }
      }
    }
    .sub-menu {
      .position(100% null null 50%);
      .box-shadow(1px 1px 4px @color13);
      .transform(~"translateX(-50%)");
      .transition(all .25s ease);
      min-width: 150px;
      background-color: @color13;
      color: @color01;
      opacity: 0;
      visibility: hidden;
      li {
        & + li {
          border-top: 1px dashed @color03;
        }
        &:hover {
          background-color: @color01;
          a {
            color: @color13;
          }
        }
      }
      a {
        white-space: nowrap;
        .skew(20deg);
      }
    }
  }
}
