// Overight fancybox
.fancybox-slide > * {
  padding: 70px 50px;
  margin: 0;
}
.fancybox-stage {
  display: block !important;
}
.fancybox-bg {
  background-color: rgba(1, 36, 82, 0.8);
}
.fancybox-close-small {
  background-color: #BDC6D1;
  top: 20px;
  right: 20px;
  .border-radius(50%);
  .size(60px);
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 15px;
    content: "";
    .size(30px, 1px);
    background-color: #EDF0F3;
    outline: none !important;
    .border-radius(0);
    .transition(none);
  }
  &:before {
    .rotate(45deg);
  }
  &:after {
    .rotate(-45deg);
  }
}
@media (max-width: @xs-max) {
  .fancybox-slide > * {
    padding: 150px 20px 20px;
  }
}
// End Overight fancybox

.popup {
}
