// Margins
// Heading
// Background Color
// Text Color
// Link Style
// Panigation
// Price
// Breadcrumbs
// Divider
// Blockquote
//--------------//

.relative {position: relative;}

.dummy-layer {
  .invisible();
  .position(fixed, 0);
  z-index: 8;
  background-color: rgba(0,0,0,.1);
  .transition(all .25s ease);
  .open-mini-cart & {
    .visible();
  }
}

// Heading
.heading-1 {}
.heading-2 {}
.heading-3 {}
.heading-4 {}
.heading-5 {}
.heading-6 {}

// Background Color
.bgd-silver {
  background-color: silver !important;
}
.bgd-light-grey {
  background-color: @color02 !important;
}
.bgd-dark-grey {
  background-color: @color09 !important;
}

// Text Color
.red-text {
  color: red !important;
}

// Link Style
.link {
  position: relative;
  .font-size(20px);
  text-decoration: underline;
  .link-color(@color12);
  &:hover {
    text-decoration: none;
  }
  i {
    .position(50% null);
    .translateY(-38%);
    font-size: .8em;
  }
}

// Panigation
.pagination {
  display: inline-block;
  &:extend(.clearfix all);
  li {
    float: left;
    margin: 0 5px;
    text-align: center;
    &.number {
      ul {
        margin: 0 -5px;
      }
    }
    &.active {
      a {
        color: @color01;
        background-color: @color04;
      }
    }
    a {
      display: block;
      .size(30px);
      .font-size(14px);
      color: @color10;
      border: 1px solid @color09;
      line-height: 30px;
      .transition(all .3s ease);
      &:hover {
        color: @color01;
        background-color: @color05;
      }
      i {
        line-height: 30px;
      }
    }
    &.unavailable {
      pointer-events: none;
      span {
        line-height: 24px;
      }
    }
  }
  .number {
    a {
      span {
        display: none;
      }
    }
  }
}
@media (max-width: @sm-max) {
  .pagination {
    width: 100%;
    .prev-page {
      float: left;
    }
    .next-page {
      float: right;
    }
    .number {
      display: block;
      float: none;
      overflow: hidden;
      li {
        display: none;
        &.active {
          display: inline-block;
          float: none;
        }
      }
      a {
        span {
          display: inline;
        }
      }
    }
  }
}

// Price
.price {
  display: block;
  &:extend(.clearfix all);
  ins, del {
    display: inline-block;
    padding: 0 5px;
  }
  ins, > .woocommerce-Price-amount {
    color: @color10;
    font-weight: bold;
    .font-size(12px);
  }
  del {
    color: @color08;
    .font-size(12px);
  }
}

// Breadcrumbs
.breadcrumbs {
  li {
    display: inline-block;
  }
  i {
    position: relative;
    top: 2px;
  }
}

// Divider
.divider {
  position: relative;
  text-align: center;
  overflow: hidden;
  clear: both;
  span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 1000px;
      border-top: 1px solid @color03;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
    &.empty {
      font-size: 0;
      padding: 0;
    }
  }
}

// Blockquote
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  &:before, &:after {
    .sans-serif();
    font-size: 4em;
    line-height: 0;
  }
  &:before {
    content: open-quote;
    margin-right: 0.15em;
    vertical-align: -0.4em;
  }
  &:after {
    content: close-quote;
    margin-left: 0.15em;
    vertical-align: -0.6em;
  }
}
