/* This Reset file's using FONT-SIZE for case DESKTOP FIRST */
// Helpfull Link: https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
html, body, h1, h2, h3, h4, h5, h6, div, span, embed, object, iframe, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, output, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, main, section, article, aside, canvas, details, summary, figure, figcaption, header, footer, hgroup, menu, nav, time, mark, audio, video {
  .cssreset();
}
html {
  .box-sizing(border-box);
  .antialiased();
  -webkit-text-size-adjust: 100%; // Disabling user zoom Text after device orientation change (IOS vs IE)
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: @font-size;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  background: url("../images/loading.svg") 50vw 50vh no-repeat;
  background-color: @bgd-body;
  &.window-loaded {
    background-image: none;
  }
  @media (min-width: @md-min) {
    &.window-loaded {
      background: url('../images/bgd-body-left.png') repeat-y 0 0, url('../images/bgd-body-right.png') repeat-y 100% 0, @bgd-body;
      background-attachment: fixed;
    }
  }
}
*, *:before, *:after {.box-sizing(inherit);}
body {
  font-family: @font-family-base;
  font-size: 1rem;
  color: @text-color;
  line-height: 1;
  overflow-x: hidden;
  .invisible();
  .transition(~"opacity .25s ease, visibility .25s ease");
  .window-loaded & {
    .visible();
  }
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
main, section, article, aside, details, summary, figure, figcaption, header, footer, hgroup, menu, nav, iframe {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  a {
    color: inherit;
  }
}
h1 {
  .font-size(@h1-size);
}
h2 {
  .font-size(@h2-size);
}
h3 {
  .font-size(@h3-size);
}
h4 {
  .font-size(@h4-size);
}
h5 {
  .font-size(@h5-size);
}
h6 {
  .font-size(@h6-size);
}
@media (max-width: @sm-max) {
  h1 {
    .font-size(@h1-size-mobile);
  }
  h2 {
    .font-size(@h2-size-mobile);
  }
  h3 {
    .font-size(@h3-size-mobile);
  }
  h4 {
    .font-size(@h4-size-mobile);
  }
  h5 {
    .font-size(@h5-size-mobile);
  }
  h6 {
    .font-size(@h6-size-mobile);
  }
}
p {
  line-height: @line-height-tag-p;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
ol, ul {
  list-style: none;
}
// li {
//   line-height: @line-height-tag-p;
// }
.fieldset {
  padding-top: 20px;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table, caption, tbody, thead, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit
}
td, th {
  display: table-cell;
  vertical-align: inherit
}
caption {
  display: table-caption;
  text-align: -webkit-center
}
b, strong, optgroup {
  font-weight: bold;
}
sub, sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #ff0;
  color: #000;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code, kbd, pre, samp {
  font-family: @monospace;
  font-size: 1rem;
}
hr {
  display: block;
  padding: 0;
  margin: 1em 0;
  height: 1px;
  background-color: #ccc;
  border: 0;
}
// Form Elements
button, input, textarea, select, optgroup {
  color: inherit;
  font-family: inherit;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input, select {
  vertical-align: middle;
}
select, input[type="checkbox"] {
  .border-radius(0);
}
.clickable, label, select, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
}
// Button
.button, button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
  .user-select(none);
  text-align: center;
  border: none;
  background: none;
  .border-radius(0);
}
// Input
.input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid @border-input;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  color: @color-input;
  .font-size(14px);
  .border-radius(0);
  .placeholder(@placeholder);
  &::-ms-clear {
    display: none;
    /* icon close within input on IE */
  }
}
input[type="password"]::-ms-reveal {
  display: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  /* Removing spin buttons for Number input */
}
input:-webkit-autofill { background: papayaWhip; color: hotPink; }
input[type="date"]::-webkit-calendar-picker-indicator{
  width: 100%;
  height: 100%;
  .position();
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* icon close within input Search */
}
textarea {
  .border-radius(0);
  width: 100%;
  padding: 10px;
  overflow: auto;
  .font-size(14px);
  vertical-align: top;
  resize: none;
  border: 1px solid @border-input;
  .placeholder(@placeholder);
}
input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px @bgd-input inset; /* Change the color to your own background color */
  -webkit-text-fill-color: @color-input;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px @bgd-input inset;
  -webkit-text-fill-color: @color-input;
}
a {
  text-decoration: none;
  .link-color(@link, @link-hover);
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
  background: gray;
}
