// Typography
@fonticon: "icomoon";
@sans-serif: Helvetica, Arial, sans-serif; // Font ko chân
@serif: Georgia, "Times New Roman", Times, serif; // Font có chân
@monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: 'Open Sans', @sans-serif;
@font-size: 14px;
@font-button: 14px;
@line-height-tag-p: 1.5;
@h1-size: 26px;
@h2-size: 22px;
@h3-size: 20px;
@h4-size: 18px;
@h5-size: 16px;
@h6-size: 14px;
@h1-size-mobile: 24px;
@h2-size-mobile: 22px;
@h3-size-mobile: 20px;
@h4-size-mobile: 18px;
@h5-size-mobile: 16px;
@h6-size-mobile: 14px;

.fonticon() {font-family: @fonticon;}
.sans-serif() {font-family: @sans-serif;}
.serif() {font-family: @serif;}
.monospace() {font-family: @monospace;}

// Path image
@img: "../images"; // background-image: url("@{img}/img-1.png");

// Color
@color00: transparent;
@color01: #fff;
@color02: #f1f1f1;
@color03: #ddd;
@color04: #ccc;
@color05: #c0c0c0;
@color06: #bbb;
@color07: #aaa;
@color08: #999;
@color09: #666;
@color10: #333;
@color11: #000;
@color12: #ff0000;
@color13: #2199e8;
@color14: #3adb76;
@color15: #f4f4f4;

// Important
@bgd-body: #fff;
@bgd-input: #fff;
@bgd-invalid: #ddd;

@text-color: #333;
@color-input: #333;
@border-input: @color03;
@placeholder: #aaa;
@invalid: #ff0000; //color invalid input

// Link
@link: #2199e8;
@link-hover: #2199e8;

// Grid System
@grid-columns: 12;
@grid-gutter: 20px;

@xs-min: 0;
@sm-min: 544px;
@md-min: 768px;
@lg-min: 992px;
@xl-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);
@lg-max: (@xl-min - 1);

// With of .container
@grid-sm: 576px;
@grid-md: 720px;
@grid-lg: 940px;
@grid-xl: 1140px;
