//---------------------------------------------------
//  LESS Prefixer
//  https://github.com/JoelSutherland/LESS-Prefixer
//---------------------------------------------------
//

// keyframes
.keyframes(@name; @arguments) {
  @-webkit-keyframes @name {@arguments();}
  @-moz-keyframes @name {@arguments();}
  @-o-keyframes @name {@arguments();}
  @keyframes @name {@arguments();}
}

// Background Size
.background-size(@args) {
  -webkit-background-size: @args;
          background-size: @args;
}
.background-clip(@args) {
  -webkit-background-clip: @args;
  -moz-background-clip: @args;
  background-clip: @args;
}
// Border Radius
.border-radius(@args) {
  -webkit-border-radius: @args;
          border-radius: @args;
}

// Box Shadows
.box-shadow(@args) {
  -webkit-box-shadow: @args;
          box-shadow: @args;
}

.inner-shadow(@args) {
  .box-shadow(inset @args);
}

// Box Sizing
.box-sizing(@args: border-box) {
  -webkit-box-sizing: @args;
     -moz-box-sizing: @args;
          box-sizing: @args;
}

.border-box() {
  .box-sizing(border-box);
}

.content-box() {
  .box-sizing(content-box);
}

// user-select
.user-select(@factor) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

// Reset filter
.reset-filter() {
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

// Opacity
.opacity(@factor) {
  @iefactor: @factor*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{iefactor})";
  filter: ~"alpha(opacity=(@{iefactor}))";
  -webkit-opacity: @factor;
     -moz-opacity: @factor;
          opacity: @factor;
}

// Text Shadow
.text-shadow(@args) {
  text-shadow: @args;
}

// Animation
.animation(@args) {
  -webkit-animation: @args;
     -moz-animation: @args;
      -ms-animation: @args;
       -o-animation: @args;
          animation: @args;
}

.animation-delay(@delay) {
  -webkit-animation-delay: @delay;
     -moz-animation-delay: @delay;
      -ms-animation-delay: @delay;
       -o-animation-delay: @delay;
          animation-delay: @delay;
}

.animation-direction(@direction) {
  -webkit-animation-direction: @direction;
     -moz-animation-direction: @direction;
      -ms-animation-direction: @direction;
       -o-animation-direction: @direction;
          animation-direction: @direction;
}

.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
     -moz-animation-duration: @duration;
      -ms-animation-duration: @duration;
       -o-animation-duration: @duration;
          animation-duration: @duration;
}

.animation-fill-mode(@mode) {
  -webkit-animation-fill-mode: @mode;
     -moz-animation-fill-mode: @mode;
      -ms-animation-fill-mode: @mode;
       -o-animation-fill-mode: @mode;
          animation-fill-mode: @mode;
}

.animation-iteration-count(@count) {
  -webkit-animation-iteration-count: @count;
     -moz-animation-iteration-count: @count;
      -ms-animation-iteration-count: @count;
       -o-animation-iteration-count: @count;
          animation-iteration-count: @count;
}

.animation-name(@name) {
  -webkit-animation-name: @name;
     -moz-animation-name: @name;
      -ms-animation-name: @name;
       -o-animation-name: @name;
          animation-name: @name;
}

.animation-play-state(@state) {
  -webkit-animation-play-state: @state;
     -moz-animation-play-state: @state;
      -ms-animation-play-state: @state;
       -o-animation-play-state: @state;
          animation-play-state: @state;
}

.animation-timing-function(@function) {
  -webkit-animation-timing-function: @function;
     -moz-animation-timing-function: @function;
      -ms-animation-timing-function: @function;
       -o-animation-timing-function: @function;
          animation-timing-function: @function;
}

// Columns
.columns(@args) {
  -webkit-columns: @args;
     -moz-columns: @args;
          columns: @args;
}

.column-count(@count) {
  -webkit-column-count: @count;
     -moz-column-count: @count;
          column-count: @count;
}

.column-gap(@gap) {
  -webkit-column-gap: @gap;
     -moz-column-gap: @gap;
          column-gap: @gap;
}

.column-width(@width) {
  -webkit-column-width: @width;
     -moz-column-width: @width;
          column-width: @width;
}

.column-rule(@args) {
  -webkit-column-rule: @args;
     -moz-column-rule: @args;
          column-rule: @args;
}

// Transforms
.transform(@args) {
  -webkit-transform: @args;
     -moz-transform: @args;
      -ms-transform: @args;
       -o-transform: @args;
          transform: @args;
}

.transform-origin(@args) {
  -webkit-transform-origin: @args;
     -moz-transform-origin: @args;
      -ms-transform-origin: @args;
       -o-transform-origin: @args;
          transform-origin: @args;
}

.transform-style(@style) {
  -webkit-transform-style: @style;
     -moz-transform-style: @style;
      -ms-transform-style: @style;
       -o-transform-style: @style;
          transform-style: @style;
}

.rotate(@deg: 45deg) {
  .transform(rotate(@deg));
}

.scale(@factor: .5) {
  .transform(scale(@factor));
}

.skew(@x, @y: null) {
  & when (@y = null) {
    -webkit-transform: skew(@x);
       -moz-transform: skew(@x);
        -ms-transform: skewX(@x); // See https://github.com/twitter/bootstrap/issues/4885
         -o-transform: skew(@x);
            transform: skew(@x);
    -webkit-backface-visibility: hidden; // See https://github.com/twitter/bootstrap/issues/5319
  }
  & when not (@y = null) {
    -webkit-transform: skew(@x, @y);
       -moz-transform: skew(@x, @y);
        -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twitter/bootstrap/issues/4885
         -o-transform: skew(@x, @y);
            transform: skew(@x, @y);
    -webkit-backface-visibility: hidden; // See https://github.com/twitter/bootstrap/issues/5319
  }
}

.translate(@x, @y) {
  .transform(translate(@x, @y));
}
.translateX(@x) {
  .transform(translateX(@x));
}
.translateY(@y) {
  .transform(translateY(@y));
}
.translateZ(@z) {
  .transform(translateY(@z));
}

.translate3d(@x, @y, @z) {
  .transform(translate3d(@x, @y, @z));
}

.translateHardware(@x, @y) {
  .translate(@x, @y);
  -webkit-transform: translate3d(@x, @y, 0);
     -moz-transform: translate3d(@x, @y, 0);
      -ms-transform: translate3d(@x, @y, 0);
       -o-transform: translate3d(@x, @y, 0);
          transform: translate3d(@x, @y, 0);
}

// Transitions
.transition(@args: 200ms) {
  -webkit-transition: @args;
     -moz-transition: @args;
      -ms-transition: @args;
       -o-transition: @args;
          transition: @args;
}

.transition-delay(@delay: 0) {
  -webkit-transition-delay: @delay;
     -moz-transition-delay: @delay;
      -ms-transition-delay: @delay;
       -o-transition-delay: @delay;
          transition-delay: @delay;
}

.transition-duration(@duration: 200ms) {
  -webkit-transition-duration: @duration;
     -moz-transition-duration: @duration;
      -ms-transition-duration: @duration;
       -o-transition-duration: @duration;
          transition-duration: @duration;
}

.transition-property(@property: all) {
  -webkit-transition-property: @property;
     -moz-transition-property: @property;
      -ms-transition-property: @property;
       -o-transition-property: @property;
          transition-property: @property;
}

.transition-timing-function(@function: ease) {
  -webkit-transition-timing-function: @function;
     -moz-transition-timing-function: @function;
      -ms-transition-timing-function: @function;
       -o-transition-timing-function: @function;
          transition-timing-function: @function;
}
